@model IList<BusinessLayer.ModelsDTO.CategoryDTO>
@{
    ViewBag.Title = "All Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Category Name</th>
        <th>Books</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td><a href="/BookStore/CategoryDetails/@category.Id">@category.Name</a></td>
            <td>
                <ul>
                    @foreach (var book in category.Books)
                    {
                        <li><a href="/BookStore/Details/@book.Id">@book.Name</a></li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>
